div{
    width: 45%;
    float: left;
    border: 2px solid #000000;
    padding: 25px;
    margin: 10px;
}
#stanga{
    background-color: azure;
}
#dreapta{
    background-color: chocolate;
}
.p1{
color: red;
}
.p2{
color: #ffffff;
}
.p3{
    font-size: 50px;
}
#idp5{
    color: green;
}